* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* CAROUSEL SMARTPHONES */

a.carousel-control-next, a.carousel-control-prev {
  width: 5%;
  opacity: .9;
}

span.carousel-control-next-icon, span.carousel-control-prev-icon {
  width: 2.5rem;
  height: 3.5rem;
  border-radius: 5px;
}

@media (max-width: 576px) {
  .image-carousel-1 {
    height: 65vh;
    object-fit: cover;
    object-position: center center;
  } 

  .image-carousel-2 {
    height: 65vh;
    object-fit: cover;
    object-position: center center;
  }

  .image-carousel-3 {
    height: 65vh;
    object-fit: cover;
    object-position: center right;
  }

  .carousel-control-prev-icon {
    background-image: none;
  }

  .carousel-control-next-icon {
    background-image: none;
  }

  a.carousel-control-next, a.carousel-control-prev {
    width: 8%;
    opacity: .9;
  }

  span.carousel-control-next-icon, span.carousel-control-prev-icon {
    width: 2rem;
    height: 3rem;
    border-radius: 5px;
  }
}

.carousel-item {
  transition: 0.2s ease-in-out;
  opacity: 0;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  opacity: 1;
}

.carousel-item-next {
  transform: translateX(0%);
}

.carousel-item-prev {
  transform: translateX(0%);
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
  transform: translateX(0);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #00bf63;
    width: 1%;
    opacity: none;
}